body{
	background-color: #fff7b4;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

p{
	text-align: justify;
	padding: 5px 30px 5px 30px
}

section{
	padding-top: 3rem;
}

.banner{
	background: url('PicsArt_07-04-02.16.09.jpg') no-repeat center center;
	background-size: cover; 
	padding-top: 20%;
	padding-bottom: 20%;
}
