h1{
	color: black;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 40px;
}

h2{
	color: black;
	text-align: center;
	font-family: Georgia, serif; 
	font-size: 30px;
}

body{
	background-color: #FFFACD;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th{
  padding: 2px;
  text-align: center;
  background-color: yellow;
  color: black;
}

td{
	background-color: cornsilk;
	padding-left: 5px
}

p{
	border-left: 3px solid orange;
	background-color: cornsilk;
	text-align: justify;
	padding: 20px 15px 20px 15px
}

